* {
    margin: 0;
    padding: 0;
    text-align: center;
    

}

.header {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10%;



}

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    padding-top: 20%;
    color: gray;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    background-color: rgb(0, 153, 255);
    margin-top: 9%;
    border-style: none;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 15px;

}

.btn2{
    background-color: transparent;
    border: 1px solid  rgb(0, 153, 255) ;
    color:  rgb(0, 153, 255);

}

.section1{
    background-color: aliceblue;
    padding: 6rem;
    
   
}

.body{
    background-color: rgb(33, 33, 56); 
}

.section2{
    background-color: rgb(0, 153, 255);
    color: aliceblue;
    padding: 6rem;
}